<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
		<add key="LocalNuget" value="./LocalNuget" />
		<add key="MsOfflinePackage" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="gzbit" value="http://nuget.gzbit.cn:8083/nuget/bit/v3/index.json" />
		<add key="nuget.cdn.azure" value="https://nuget.cdn.azure.cn/v3/index.json" />
	</packageSources>
</configuration>